.profile {
	display: flex;
	align-items: flex-start;

	margin: 0 auto;
	margin-top: 200px;

	max-width: 700px;
	width: 100%;

	padding: 20px;

	border: 1px solid #000000;

	box-sizing: border-box;
}

.profile__manipulation {
	max-width: 50%;
	width: 100%;
}
